/constants/
/elements/
/evaluation/
/file/
/gui/
/main/
/simulation/
/classes/
/screenshots/
/GUIStrings.xlsx
/МлынMVP.iml
/МлынMVP.rar
/.classpath
/.project
/Frame_0,000с.jpg
/Frame_0,764с.jpg
/Frame_1,011с.jpg
/Frame_1,129с.jpg
/Frame_1,246с.jpg
/Frame_1,521с.jpg
/Frame_2,918с.jpg
/Frame_3,119с.jpg
/Frame_3,952с.jpg
/Frame_4,126с.jpg
/Frame_4,267с.jpg
/Frame_54,161с.jpg
/Frame_54,775с.jpg
